@model AppsDevCoffee.Models.User

@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>

<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Username">Username:</label>
        <input readonly asp-for="Username" class="form-control" value="@Model.Username"/>

    </div>

    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserTypeId">User Type:</label>
        <select asp-for="UserTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.UserTypes, "Id", "Description"))"></select>
        <span asp-validation-for="UserTypeId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserStatus">User Status:</label>
        <select asp-for="UserStatus" class="form-control">
            <option value="Pending">Pending</option>
            <option value="Active">Active</option>
            <option value="Active">Inactive</option>
        </select>
        <span asp-validation-for="UserStatus" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    
</form>
<form asp-action="DeleteUser" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?')">Delete</button>
</form>
<a asp-action="UserList" asp-controller="Admin" class="btn btn-secondary">Cancel</a>