@model AppsDevCoffee.Models.User

@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>

<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserTypeId">User Type:</label>
        <select asp-for="UserTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.UserTypes, "Id", "Description"))"></select>
        <span asp-validation-for="UserTypeId" class="text-danger"></span>
    </div>

    <div class="form-group">

        <input asp-for="Username" type="hidden"/>

    </div>

    <div class="form-group">
        <label asp-for="UserStatus">User Status:</label>
        <select asp-for="UserStatus" class="form-control">
            <option value="Pending">Pending</option>
            <option value="Active">Active</option>
        </select>
        <span asp-validation-for="UserStatus" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="UserDetail" asp-controller="Admin" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
</form>
