@model AdminIndexViewModel
@{
    ViewData["Title"] = "Admin Dashboard";
}
<h2 class="display-5">@ViewData["Title"]</h2>
<hr />

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Admin" asp-action="UserList">User List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Admin" asp-action="Analytics">Analytics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Admin" asp-action="AccountLogs">Log</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Inventory" asp-action="InventoryList">Inventory</a>
        </li>
    </ul>
</div>

@if (Model.PendingOrders != null)
{
    <div>
        @Html.Partial("PendingOrderList", (IEnumerable<Order>)Model.PendingOrders)
    </div>
}

@* Add unpaid orders as well? *@

@if (Model.PendingUsers != null)
{
    <div>
        @Html.Partial("PendingUserList", (IEnumerable<User>)Model.PendingUsers)
    </div>
}

