@model AdminIndexViewModel
@{
    ViewData["Title"] = "Admin Dashboard";
}
<h2>@ViewData["Title"]</h2>

@if (Model.PendingOrders != null)
{
    <div>
        @Html.Partial("PendingOrderList", (IEnumerable<Order>)Model.PendingOrders)
    </div>
}

@* Add unpaid orders as well? *@

@if (Model.PendingUsers != null)
{
    <div>
        @Html.Partial("PendingUserList", (IEnumerable<User>)Model.PendingUsers)
    </div>
}

