@{
    ViewData["Title"] = "Home - Admin";
}

<div class="container mt-5">
    <h1>Welcome to Your Admin Page</h1>

    <ul class="list-group mt-4">
        <li class="list-group-item">
            <a class="btn btn-link" asp-controller="Admin" asp-action="UserList">User List</a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-link" asp-controller="Admin" asp-action="OrderList">Orders</a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-link" asp-controller="Admin" asp-action="InventoryList">Inventory</a>
        </li>
    </ul>
</div>