@model OriginType

<h2>Update Origin Type</h2>
<form asp-action="EditInventory" method="post">
    <input type="hidden" asp-for="OriginTypeId" />
    <div class="form-group">
        <label asp-for="Country" class="control-label"></label>
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SupplierNotes" class="control-label"></label>
        <input asp-for="SupplierNotes" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RoasterNotes" class="control-label"></label>
        <input asp-for="RoasterNotes" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CostPerOz" class="control-label"></label>
        <input asp-for="CostPerOz" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>