@{
    ViewData["Title"] = "Payment Order";

    // Retrieve total cost and order ID from ViewBag
    var totalCost = ViewBag.TotalCost;
    var orderId = ViewBag.OrderId;
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">Payment Details</h5>
                    <p class="text-secondary">
                        <strong>Amount Owed: $@totalCost</strong>
                        <br/>
                        <strong>Order #: @orderId </strong>
                        <br/>

                        Please complete a payment with your Order # in the description.
                    </p>
                    <div class="btn-group" role="group">
                        <a href="https://www.paypal.com" class="btn" style="background-color: #001f3f; color: #ffffff; border-color: #001f3f;">Pay with PayPal</a>
                        <a href="https://www.venmo.com" class="btn" style="background-color: dodgerblue ; color: #ffffff; border-color: #001f3f;">Pay with Venmo</a>
                    </div>
                    <p class="mt-3">You may also choose to pay later. Payment in person with cash is acceptable. <br/> You can get back to the Payment Details page from the Order History page.</p>
                    <a href="@Url.Action("Index", "Order")" class="btn btn-secondary">Pay Later</a>
                    <br/><br/>
                    <p class="text-center">*Your Order History will reflect completed payments within 1 business day of being received.*</p>
                </div>
            </div>
        </div>
    </div>
</div>
