@{
    ViewData["Title"] = "About";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="display-4">About Top Notch Pacz</h2>

            <p class="text-justify">
                Welcome to Top Notch Pacz, where passion for coffee meets craftsmanship. As the proud owner, I personally roast each batch of coffee in the comfort of my basement. My commitment to quality is unwavering, ensuring that every order is treated with the utmost care and attention.
                What sets Pacz apart is our dedication to small-batch roasting. We believe in delivering a truly fresh coffee experience to our customers. Unlike mass-produced options found in grocery stores, our beans are roasted on-demand. This means that every bag of coffee you receive is roasted fresh specifically for your order.
            </p>

            <p class="text-justify">
                The benefits of enjoying fresh-roasted coffee are numerous.
                <ul>
                    <li>Unparalleled flavor profile capturing unique bean characteristics.</li>
                    <li>Fresh aromas and nuanced notes preserved in every small batch.</li>
                    <li>Heightened caffeine levels and antioxidants for a revitalizing experience.</li>
                </ul>
            </p>

            <p class="text-justify">
                Join us on this journey of elevating your coffee moments. From the basement to your cup, we take pride in every step of the process. Thank you for choosing Top Notch Pacz for a coffee experience that goes beyond the ordinary.
            </p>
        </div>
    </div>
</div>