@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">An Unparalleled coffee experience.</h1>
    <img src="@ViewBag.HomePicture" alt="Coffee Picture"/>
</div>
